.banner-wrap{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../img/Diseño sin título.png");
    background-size:cover;
    text-align:center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 88vh;
    width: 100vw;
    background-color: white;
}

footer{
    text-align: right;
    font-size:20px;
    font-style:italic;
    color:black;
    background-color:#cee39c;
    padding: 0px 20px;
    height: 5vh;
}

h1{
    color: white;
    font-size: 45px !important;
    margin: 0;
    font-weight: bold;
}

